apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
      - name: backend
        image: ibraheem15/i211102-backend:v1
        ports:
        - containerPort: 3000
        env:
        - name: MONGODB_URI
          value: "mongodb://db-service:27017/mydatabase"
        - name: FRONTEND_URL
          value: "http://frontend-service:39327"
        - name: JWT_SECRET
          value: "secret"
