version: '3.8'
services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
  backend:
    build: ./backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URL=mongodb://db:27017/MlOps-Assignment-02
  db:
    image: mongo
    ports:
      - "27017:27017"

